//primary color
$prime: #0071e4;
$irrigo-purple: #9747ff;
$blue-hijab: #d0eafc;
$white:#fff;
$verminal: #52d116;
$black: #000000;
$black-sheep: #100e0e;
$blue-whale: #1e3240;
$jet-fuel: #585656;
$welded-iron: #706e6e;
$mithril: #878787;
$fortress-grey: #b7b7b7;
$light-grey:#F9F9F9;
$pixel-white: #dbdbdb;