.advantages {
  padding-top: 24px;
  padding-bottom: 24px;
}
.advantages__title {
  @include title;
  font-size: 24px;
  text-align: center;
  color: $black-sheep;
  margin-bottom: 16px;
}
.advantages__card {
  border-radius: 16px;
  background: $light-grey;
  padding: 20px;
}
.advantages__subTitle {
  @include title;
  font-size: 20px;
  color: $black-sheep;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  &::before {
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("./img/adventage-discount.png");
    background-size: 32px 32px;
  }
}
.advantages__card_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}
.advantages__card:nth-child(2) .advantages__subTitle {
  &::before {
    background-image: url("./img/adventage-delivery.png");
  }
}
.advantages__card:nth-child(3) .advantages__subTitle {
  &::before {
    background-image: url("./img/adventage-card.png");
  }
}
.advantages__card:nth-child(4) .advantages__subTitle {
  &::before {
    background-image: url("./img/adventage-bank.png");
  }
}
.advantages__card:nth-child(5) .advantages__subTitle {
    &::before {
      background-image: url("./img/adventage-approval.png");
    }
  }
.advantages__text {
  @include text;
  font-size: 16px;
  color: $jet-fuel;
}

.advantages__card_button {
  display: block;
  @include subtitle;
  font-size: 18px;
  color: $prime;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid $prime;
  display: none;
}

@media screen and (min-width: 768px) {
  .advantages__subTitle {
    font-size: 24px;
    margin-bottom: 8px;
    gap: 26px;
    gap: 8px;
    &::before {
      display: none;
    }
  }
  .advantages__card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    &::before {
      content: "";
      width: 64px;
      height: 64px;
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url("./img/adventage-discount.png");
      background-size: 64px 64px;
      margin-right: 26px;
    }
  }
  .advantages__card:nth-child(2) {
    &::before {
      background-image: url("./img/adventage-delivery.png");
    }
  }
  .advantages__card:nth-child(3) {
    &::before {
      background-image: url("./img/adventage-card.png");
    }
  }
  .advantages__card:nth-child(4) {
    &::before {
      background-image: url("./img/adventage-bank.png");
    }
  }
  .advantages__card:nth-child(5) {
    &::before {
      background-image: url("./img/adventage-approval.png");
    }
  }
  .advantages__card_content {
    max-width: 307px;
  }
  .advantages__card_button {
    display: block;
    margin-top: 15px;
  }
}
.advantages__subscribe{
    padding-top: 40px;
    padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .advantages__card_box {
    flex-direction: row;
    gap: 15px;
    margin-bottom: 21px;
  }
  .advantages__card {
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(180deg, #fe94a6 0.04%, #f2f2f2 65.84%);
    &::before {
      width: 160px;
      height: 160px;
      background-size: 160px 160px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 16px;
    }
  }
  .advantages__card:nth-child(2){
    background: linear-gradient(180deg, #E685FF 0.04%, #F2F2F2 65.84%);
  }
  .advantages__card:nth-child(3){
    background: linear-gradient(180deg, #7DE9FF 0.04%, #F2F2F2 65.84%);
}
  .advantages__card:nth-child(4){
    background: linear-gradient(180deg, #FFE685 0.04%, #F6F6F6 65.84%);
}
  .advantages__card:nth-child(5){
    background: linear-gradient(180deg, #ADFFC1 0.04%, #F2F2F2 65.84%), #F2F2F2;
}
  .advantages__card_content{
    max-width: 212px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 89px;
  }
  .advantages__card_button{
 margin-left: auto;
 margin-right: auto;
  }
}
